@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
    color: #ffffff;
    overflow-x: hidden;
}

body {
    background: linear-gradient(90deg, #383838 0%, #000000 81.25%);
    background-size: 100%;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}

main {
    margin: 30px 0px;
    width: 560px;
}

header {
    text-align: center;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profilepicture {
    border-radius: 100%;
    width: 150px;
    border: solid 2px #ffffff;
    opacity: 1;
}

.section-box {
    background-color: rgba(138, 144, 159, 0.4);
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    gap: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
}

.section-box:hover{
    background-color: rgba(138,144,159,0.1);
    transition: 0.5s;
}

.box-imgs {
    display: flex;
    justify-content: center;
    gap: 15px;
}

img {
    border-radius: 90px;
    width: 30px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: 20px;
    margin-right: 35px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mnsg {
    text-align: center;
    margin: 20px 0px;
    background-color: rgba(138, 144, 159, 0.4);
    border-radius: 5px ;
    width: 560px;

}


@media screen and (max-width: 600px) {

    body {
        margin: 0;
        padding: 0;
        height: 120vh;
        width: 100%;
    }
    
    main {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    #profilepicture {width: 100px;}
    
    .mnsg {
        border-radius: 5px ;
        width: 100%;
        margin-bottom: 10px;    
    }

    p {
        font-size: 20px;
        margin-right: 35px;
        width: 300px;
    }
    
}
